<div
  *ngIf="isLoading || isFormShown"
  class="modalBackground"
  (click)="hideModalWindow($event)"
>
  <div *ngIf="isLoading" class="loadingWindow">
    <div class="space loadingWindow">
      <div class="ship">
        <div class="ship-rotate">
          <div class="pod"></div>
          <div class="fuselage"></div>
        </div>
      </div>
      <div class="ship-shadow"></div>
      <div class="mars">
        <div class="tentacle"></div>
        <div class="flag">
          <div class="small-tentacle"></div>
        </div>
        <div class="planet">
          <div class="surface"></div>
          <div class="crater1"></div>
          <div class="crater2"></div>
          <div class="crater3"></div>
        </div>
      </div>
      <div class="test"></div>
    </div>
  </div>
  <div
    *ngIf="isFormShown"
    class="inputForm form__container"
    (click)="$event.stopPropagation()"
  >
    <form class="form" id="form">
      <div class="form__header">
        <h3 class="form__title">Vacation Request</h3>
        <div class="form__days-counter">
          <p class="form__days-text">{{ daysOff }}</p>
        </div>
      </div>
      <div class="form__body">
        <div class="form__dates-subtitle">
          <h4>Dates</h4>
        </div>
        <div class="form__inputs-group">
          <div class="form__input-wrapper">
            <label>
              <input
                class="form__input-from form__input"
                type="date"
                [value]="dateFromString"
                (change)="dateInputHandler($event)"
              />
              From</label
            >
          </div>
          <div class="form__input-wrapper">
            <label>
              <input
                class="form__input-to form__input"
                type="date"
                [value]="dateToString"
                (change)="dateInputHandler($event)"
              />
              To</label
            >
          </div>
          <div class="form__select-wrapper">
            <div class="form__dates-subtitle">
              <h4>Vac Type</h4>
            </div>
            <select form="form" name="" id="" class="form__select">
              <option>Paid Day Off (PD)</option>
              <option>Unpaid Day (UD)</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form__footer">
        <button
          class="form__cancel-btn form__btn"
          type="submit"
          (click)="hideModalWindow($event)"
        >
          Cancel
        </button>
        <button
          class="form__send-btn form__btn"
          (click)="$event.preventDefault()"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
