.weekend {
  background: #f3f3f3;
}

.vacation1 {
  background-color: rgb(155, 153, 255);
}

.vacation2 {
  background-color: rgb(122, 175, 255);
}

.vacation3 {
  background-color: rgb(255, 153, 153);
}

.vacation4 {
  background-color: rgb(255, 167, 104);
}
