
table {
	border-collapse: collapse;
}

td {
	border: 1px solid #D7D7D7;
}

.weekend {
	background: #F0F0F0;
}

.outputItem {
	height: 64px;
	width: 34px;
	text-align: center;
	flex-direction: column;
	align-items: center;
	line-height: 28px;
	border: 1px solid rgb(192, 192, 192);
	padding: 5px;
}

.addVacationCell {
	max-width: fit-content;
	padding: 0 119px 24px 0;
	margin: 0;
	border-top: none;
	border-left: none;
}

.outputDay {
  display: inline-block;
  padding: 5.4px;
  text-align: center;
  color: #000;
  font-size: 12px;
  line-height: 18px;
}

.outputDate {
	text-align: center;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
}

.sumCell {
	font-size: 12px;
	line-height: 18px;
	max-width: fit-content;
}

.addVacationBtn {
	width: 144px;
	height: 40px;
	background: #48BA46;
	border-radius: 7px;
	border: none;
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addVacationBtn span {
	font-size: 24px;
	padding-right: 10px;
}

.outputItem__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calendar__text {
	padding: 2px;
}

app-table-body {
	display: table-row-group;
}



